@keyframes chroma {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-chroma {
  background-size: 200% 200%;
  animation: chroma 6s ease infinite;
}




.custom-button {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.65em 1.8em;
  border: 2px solid #2563EB;
  border-radius: 4px;
  position: relative;
  color: #2563EB;
  background: transparent;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  overflow: hidden;
}

.custom-button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #2563EB;
  z-index: -1;
}

.custom-button:hover,
.custom-button:focus {
  color: white;
}

.custom-button:hover:before,
.custom-button:focus:before {
  left: 0;
  right: 0;
  opacity: 1;
}

.custom-button:active {
  transform: scale(0.95);
}
